html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title :: Automate Document ::
		link(href='../../../css/main.css', rel='stylesheet')
		link(href='../../../css/editFunction.css', rel='stylesheet')
		script(type='text/javascript', src='../../../js/AddDelParam.js')
	body
		form#IndexForm(name='form1', method='POST', enctype='application/json' ,action='/FnView/#{funcName}/')
			table#IndexTable(width='1000', border='0', align='center')
				tr#HeaderPart
					td(colspan='2')
						div(align='center')
							img#HeaderImg(src='../../../images/banner.jpg', width='1000', height='250', bgcolor='#FFFFFF')
				tr#BodyPart
					td(width='1000', height='800', bgcolor='#FFFFFF')
						div(align='center')
							table#Menubar(style='width=100%', border='0')
								tr(width='500')
									td(align='center')
										nav
											ul#MainMenu
												li#HomeMenu
													a#HomeMenuLink(href='#') HOME
												li#ProjectListMenu
													a#ProjectListMenuLink(href='#') PROJECT
													ul#ProjectMenu
														li#ProjectNameMenu
															a#ProjectNameMenuLink(href='#') SUPERSCREEN
															ul#ActionMenu
																li#ActionName
																	a#ActionNameLink(href='#') ACTION
																	ul#ActionNameList
																		each fn in datatoview
																			case fn.projname
																				when "SUPERSCREEN"
																					case fn.funcgroup
																						when "ACTION"
																							li(id='ActionMenu_'+fn.funcname)
																								a(id='ActionMenuLink_'+fn.funcname)(href='FnView/#{fn.funcname}') #{fn.funcname}																		 
																li#VerifyName
																	a#VerifyNameLink(href='#') VERIFY
																	ul#VerifyNameList
																		each fn in datatoview
																			case fn.projname
																				when "SUPERSCREEN"
																					case fn.funcgroup
																						when "VERIFY"
																							li(id='VerifyMenu_'+fn.funcname)
																								a(id='VerifyMenuLink_'+fn.funcname)(href='FnView/#{fn.funcname}') #{fn.funcname} 
																li#UtilityName
																	a#UtilityNameLink(href='#') UTILITY
																	ul#UtilityNameList
																		each fn in datatoview
																			case fn.projname
																				when "SUPERSCREEN"
																					case fn.funcgroup
																						when "UTILITY"
																							li(id='UtilityMenu_'+fn.funcname)
																								a(id='UtilityMenuLink_'+fn.funcname)(href='FnView/#{fn.funcname}') #{fn.funcname}	 
														
												li#ManageListMenu
													a#ManageListMenuLink(href='#') MANAGE FUNCTION
													ul#ManageMenu
														li#ManageMenu_ADDFUNCTION
															a#ManageMenuLink_ADDFUNCTION(href='AddPage.html') ADD FUNCTION
														li#ManageMenu_DELETEFUNCTION
															a#ManageMenuLink_DELETEFUNCTION(href='#') DELETE FUNCTION
														li#ManageMenu_EDITFUNCTION
															a#ManageMenuLink_EDITFUNCTION(href='#') EDIT FUNCTION
												li#CONTACT
													a#CONTACTLink(href='#') CONTACT
				
							.MaxBoderwidth Edit Function: #{funcName}
							each fn in datatoview
								case fn.projname
									when "SUPERSCREEN"
										case  fn.funcname
											when funcName
												br
												form(method='POST' id='formFn')
													table#tb1
														tr
															td Function Name
															td
																input(type='text', size='80%', name='funcname', id='txt_Name_'+funcName, value='#{funcName}') 
														tr
															td Function Description
															td
																input(type='text', size='80%', name='funcdesc', value='#{fn.funcdesc}', id='txt_Description_'+funcName)
														tr
															td Function Group
															td
																input(id='hiddenPj',type='Text',name='funcgroup',value='#{fn.funcgroup}')
													br
													input(id='hiddenPj',type='hidden',name='projname',value='SUPERSCREEN')
													
													input(id='btnAddParameter', type='button', value='Add Parameter', onclick="addRow('tb2')")
													input(id='btnDeleteRow', type='button', value='Delete Row', onclick="deleteRow('tb2')")
													table#tb2
														tr
															th Delete
															th Parameter Name
															th Description
															th Require Field
															th Default Value
															-var i=0
															-var j=0
															-var k=0
															-var l=0
															-var m=0
															
														each param in fn.params 
															tr#trParamList
																td#tdCol_Delete
																	input(id='txt_Name_'+param.paramname, type='hidden', name='params[#{m=m+1}][_ID]', value='#{param.paramname+m}')
																	input(id='chk_Delete'+param.paramname, type='checkbox', name='chk')
																td#tdCol_ParameterName
																	input(id='txt_Name_'+param.paramname, type='text', name='params[#{i=i+1}][paramname]', value='#{param.paramname}')
																td#tdCol_escription
																	input(id='txt_Desc_'+param.paramname, type='text', name='params[#{j=j+1}][paramdesc]', value='#{param.paramdesc}')

																//- td
																//- 	input(type='checkbox', name='ReqName', checked = true)
																//- 	| Yes

																td#tdCol_RequireField
																	if param.paramrequire == "On"
																		input(id='chk_Require'+param.paramname, type='checkbox', name='params[#{k=k+1}][paramrequire]', checked = true)
																		| Yes
																	else
																		input(id='chk_Require'+param.paramname, type='checkbox', name='params[#{k=k+1}][paramrequire]', checked = false)
																		| Yes
																		
																
																td#tdCol_DefaultValue
																	input(id='txt_DefultVal_'+param.paramname, type='text', name='params[#{l=l+1}][paramdefaultvalue]', value='#{param.paramdefaultvalue}')
													br
													table#tb3
														tr
															td#td_btnSave
																input#btnSave(type='Submit', value='Save', size='50%')
															td#td_btnCancel
																input(type='button', value='Cancel', onclick("window.open('FnView/#{datatoview.funcname}')"))
														
				tr#FooterPart
					td(colspan='2')
						img#FooterImg(src='../../../images/footer.jpg', width='1000', height='100')



