html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//- link(href='../../../css/main.css', rel='stylesheet')
		link(href='../../../css/index1.css', rel='stylesheet')
		link(href='../../../css/AddEditPCSS.css', rel='stylesheet')
		link(href='../../../css/editFunction.css', rel='stylesheet')
		script(src='../../../js/jquery.js', type='text/javascript')
		script(type='text/javascript', src='../../../js/AddDelParam.js')

		//- meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//- meta(charset='utf-8')
		//- meta(http-equiv='X-UA-Compatible', content='IE=edge')
		//- meta(name='viewport', content='width=device-width, initial-scale=1')
		//- link(href='../css/index1.css', rel='stylesheet')
		//- link(href='../css/AddEditPCSS.css', rel='stylesheet')
		//- script(src='../js/jquery.js', type='text/javascript')
		//- script(src='script.js')
		//- script(type='text/javascript', src='js/AddDelParam.js')
		//-script(type='text/javascript', src='js/AddDelParam.js')
		title :: Automate Document ::
	body(bgcolor='#ffffff')
		form#IndexForm(name='form1', method='POST', enctype='application/json' ,action='/FnView/#{funcName}/')
			table(width='1000', align='center')
				tr
					td(colspan='2')
						div(align='center')
							img(src='../../../images/banner.jpg', width='1010', height='250', bgcolor='#ffffff')
				tr
					td(width='1000', bgcolor='#FFFFFF')
						div(align='center')
							table(width='800', border='0', align='center')
				tr
					td
						table(border='0', align='center', width='1000')
							tr
								td(align='center')
									#cssmenu
										ul
											li
												a(href='../../../')
													span HOME
											li.active.has-sub
												a(href='#')
													span PROJECT
												ul
													li.has-sub
														a#SUPERSCREEN(href='#')
															span SUPERSCREEN
														ul
															li.has-sub
																a(href='#')
																	span ACTION
																ul
																	each fn in datatoview
																		case fn.projname
																			when "SUPERSCREEN"
																				case fn.funcgroup
																					when "ACTION"
																						li(id='ActionMenu_'+fn.funcname)
																							a(id='ActionMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}
															li.has-sub
																a(href='#')
																	span VERIFY
																ul
																	each fn in datatoview
																		case fn.projname
																			when "SUPERSCREEN"
																				case fn.funcgroup
																					when "VERIFY"
																						li(id='VerifyMenu_'+fn.funcname)
																						a(id='VerifyMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}          
															li.has-sub
																a(href='#')
																	span UTILITY
																ul
																	each fn in datatoview
																		case fn.projname
																			when "SUPERSCREEN"
																				case fn.funcgroup
																					when "UTILITY"
																						li(id='UtilityMenu_'+fn.funcname)
																							a(id='UtilityMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}                                
											li
												a(href='#')
													span About
											li.last
												a(href='#')
													span Contact
						.MaxBoderwidth Edit Function: #{funcName}
							
						each fn in datatoview
							case fn.projname
								when "SUPERSCREEN"
									case  fn.funcname
										when funcName
												br
												form(method='POST' id='formFn')
													table#tb1(border='2', width='970')
														tr
															td Function Name
															td
																input(type='text', size='130%', name='funcname', id='txt_Name_'+funcName, value='#{funcName}') 
														tr
															td Function Description
															td
																input(type='text', size='130%', name='funcdesc', value='#{fn.funcdesc}', id='txt_Description_'+funcName)
														tr
															td Function Group
															td
																select(name='funcgroup')
																	option(value='#{fn.funcgroup}') #{fn.funcgroup}
																	option(value='-', disabled='true') --------------
																	option(value='ACTION') ACTION
																	option(value='VERIFY') VERIFY
																	option(value='UTILITY') UTILITY
																		//- option(value='ACTION') ACTION
																		//- option(value='VERIFY') VERIFY
																		//- option(value='UTILITY',selected='true') UTILITY
													br
													input(id='hiddenPj',type='hidden',name='projname',value='SUPERSCREEN')
													//- div(align='center')
														input(id='btnAddParameter', type='button', value='Add Parameter', onclick="addRow('tb2')")
														input(id='btnDeleteRow', type='button', value='Delete Row', onclick="deleteRow('tb2')")
													br
													table#tb2(border='2', width='970')
														input(id='btnAddParameter', type='button', value='Add Parameter', onclick="addRow('tb2')")
														input(id='btnDeleteRow', type='button', value='Delete Row', onclick="deleteRow('tb2')")
														tr
															th Delete
															th Parameter Name
															th Description
															th Require Field
															th Default Value
															-var i=0
															-var j=0
															-var k=0
															-var l=0
															-var m=0
															-var parm1
															-var parm2
															
														each param in fn.params 
															tr#trParamList
																td#tdCol_Delete
																	input(id='chk_Delete'+param.paramname, type='checkbox', name='chk')
																td#tdCol_ParameterName
																	input(id='txt_Name_'+param.paramname, type='text', name='params[#{i=i+1}][paramname]', value='#{param.paramname}')
																td#tdCol_escription
																	input(id='txt_Desc_'+param.paramname, type='text', name='params[#{j=j+1}][paramdesc]', value='#{param.paramdesc}')

																	//- td
																	//- 	input(type='checkbox', name='ReqName', checked = true)
																	//- 	| Yes

																td#tdCol_RequireField
																	if param.paramrequire == "On"
																		input(id='chk_Require'+param.paramname, type='checkbox', name='params[#{k=k+1}][paramrequire]', checked = true)
																		| Yes
																	else
																		input(id='chk_Require'+param.paramname, type='checkbox', name='params[#{k=k+1}][paramrequire]', checked = false)
																		| Yes
																			
																	
																td#tdCol_DefaultValue
																	input(id='txt_DefultVal_'+param.paramname, type='text', name='params[#{l=l+1}][paramdefaultvalue]', value='#{param.paramdefaultvalue}')
													br
													table#tb3(align='center')
														tr
															td#td_btnSave
																input#btnSave(type='Submit', value='Save', size='50%')
															td#td_btnReset
																input(type='button', value='Reset', onClick="window.location.href=window.location.href")		
															td#td_btnCancel
																input(type='button', value='Cancel', onclick("window.open('FnView/#{datatoview.funcname}')"))

														
				tr#FooterPart
					td(colspan='2')
						img#FooterImg(src='../../../images/footer.jpg', width='1000', height='100')



