html
  head
    // menu
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='../css/index1.css', rel='stylesheet')
    script(src='../js/jquery.js', type='text/javascript')
    //- script(src='script.js')
    script(src='../js/editFunction.js')
    title :: Automate Document ::
  body(ng-app='qtrf')
    div(ui-view='')
    form(name='form1', method='post', action='index1.html')
      table(width='1000', align='center')
        tr
          td(colspan='2')
            div(align='center')
              img(src='../images/banner.jpg', width='1010', height='250', bgcolor='')              
        // Row #2 .... Body+TaMenu        
        tr
          td(width='1000', bgcolor='#FFFFFF')
            div(align='center')
              // Row #2.1 .... TaMenu
              table(width='800', border='0', align='center')
                // Table Tab Menu
                tr
                  td
                    // Table Tab Menu
                    table(border='0', align='center', width='1000')
                      tr
                        td(align='center')
                          #cssmenu
                            ul
                              li
                                a(href='/')
                                  span HOME
                              li.active.has-sub
                                a(href='#')
                                  span PROJECT
                                // Project Name
                                ul
                                  li.has-sub
                                    a#addMenu(href='#') 
                                      span + Add...
                                    ul 
                                      li 
                                        a#addProj(href='/addProj')
                                          span + Add Project...
                                      li
                                        a#addFunction(href='/addFunc')
                                          span + Add Function...
                                  li.has-sub
                                    a#SUPERSCREEN(href='#')
                                      span SUPERSCREEN
                                    // Group Function SuperScreen
                                    ul
                                      li.has-sub
                                        a(href='#')
                                          span ACTION
                                        ul
                                          each fn in datatoview
                                           case fn.projname
                                            when "SUPERSCREEN"
                                              case fn.funcgroup
                                                when "ACTION"
                                                  li(id='ActionMenu_'+fn.funcname)
                                                  a(id='ActionMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}
                                      li.has-sub
                                        a(href='#')
                                          span VERIFY
                                        ul
                                          each fn in datatoview
                                           case fn.projname
                                            when "SUPERSCREEN"
                                              case fn.funcgroup
                                                when "VERIFY"
                                                  li(id='VerifyMenu_'+fn.funcname)
                                                  a(id='VerifyMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}          
                                  
                                      li.has-sub
                                        a(href='#')
                                          span UTILITY
                                        ul
                                          each fn in datatoview
                                           case fn.projname
                                            when "SUPERSCREEN"
                                              case fn.funcgroup
                                                when "UTILITY"
                                                  li(id='UtilityMenu_'+fn.funcname)
                                                  a(id='UtilityMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}
                                  
                              li
                                a(href='#')
                                  span About
                              li.last
                                a(href='#')
                                  span Contact
              // Row #2.2 .... Body
            -var cccc = "ddd"
            form(id="desForm", method="post", ACTION = "/ActionStatus/")
              table(border='0', align='center', width='1000')
                tr
                  td(colspan='4')
                    if statusTag == "True"
                      font(size='5', color='red')
                        center#Status Status Completed
                      br
                    else if statusTag == "AddSuccess"
                      font(size='5', color='green')
                        center#Status Add Function Completed
                      br
                    else if statusTag == "AddUnsuccess"
                      font(size='5', color='red')
                        center#Status Function Already Exist
                      br

                table(border='0', align='left', width='1000')
                  tr
                    each fn in datatoview
                      case fn.projname
                        when "SUPERSCREEN"
                          case  fn.funcname
                            when funcName
                              tr
                                td(width= '150')
                                  font(size='5') Function :
                                td
                                  font(size='4') #{fn.funcname}                                                                                                   
                                  br
                              tr
                                td(width= '150')
                                  font(size='5') Group:
                                td
                                  font(size='4') #{fn.funcgroup}
                                  br
                              tr
                                td
                                  font(size='5') Descriptions :
                                td
                                  font(size='4') #{fn.funcdesc}

                table(border='1', align='center', width='1000')
                  tr
                    td
                      center Parameter
                    td
                      center Description
                    td
                      center Require Field
                    td
                      center Default Value
                  tr


                    each fn in datatoview
                      case fn.projname
                        when "SUPERSCREEN"
                          case  fn.funcname
                            when funcName
                             each param in fn.params 
                              tr
                                td
                                  font(size='2')  #{param.paramname}
                                td
                                  font(size='2')  #{param.paramdesc}
                                td
                                  if param.paramrequire == "on"
                                    font(size='2') Yes
                                  else 
                                    font(size='2') No
                                td
                                  font(size='2')  #{param.paramdefaultvalue}

                table(border='0', align='center', width='1000')
                  tr
                    td(width='100')
                      font(size='5') Image : 
                    td
                      font(size='4') #{funcName}
                  tr
                    td(colspan='2', border='5')
                      center
                        img(src='../images/SearchMontrib_Mobile_big.jpg', width='750', height='480')
                  br                  
                tr
                  tr
                      td(colspan='4')
                        center
                          button(type='button'  onClick="window.location.href='/FnView/FnEdit/#{funcName}'") Edit
                          button(type = "button",onclick="PopUpDelete('#{funcName}')") Delete
      // #FOOTER
      tr
        td(colspan='2')
          div(align='center')
            center
              img(src='../images/footer.jpg', width='1010', height='100')