html
  head
    // menu
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/index1.css', rel='stylesheet')
    script(src='./js/jquery.js', type='text/javascript')
    title :: Automate Document ::

    // slid
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Fluid CSS3 Slideshow with Parallax Effect')
    meta(name='keywords', content='fluid, css3, css-only, slideshow, responsive, parallax, sibling, pseudo-class, transitions')
    link(rel='shortcut icon', href='./favicon.ico')
    link(rel='stylesheet', type='text/css', href='/css/demo.css')
    link(rel='stylesheet', type='text/css', href='./css/style.css')
    script(type='text/javascript', src='./js/modernizr.custom.04022.js')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic', rel='stylesheet', type='text/css')
  body    
    form(name='form1', method='post', action='index1.html')
      table(width='1000', align='center')
        tr
          td(colspan='2')
            div(align='center')
              img(src='images/banner.jpg', width='1010', height='250', bgcolor='')
        // Row #2 .... Body+TaMenu        
        tr
          td(width='1000', bgcolor='#FFFFFF')
            div(align='center')
              // Row #2.1 .... TaMenu
              table(width='800', border='0', align='center')
                // Table Tab Menu
                tr
                  td
                    // Table Tab Menu
                    table(border='0', align='center', width='1000')
                      tr
                        td(align='center')
                          #cssmenu
                            ul
                              li
                                a(href='/')
                                  span HOME
                              li.active.has-sub
                                a(href='#')
                                  span PROJECT
                                // Project Name
                                ul
                                  li.has-sub
                                    a#addMenu(href='#') 
                                      span + Add...
                                    ul 
                                      li 
                                        a#addProj(href='/addProj')
                                          span + Add Project...
                                      li
                                        a#addFunction(href='/addFunc')
                                          span + Add Function...
                                  li.has-sub
                                    a#SUPERSCREEN(href='#')
                                      span SUPERSCREEN
                                    // Group Function SuperScreen
                                    ul
                                      li.has-sub
                                        a(href='#')
                                          span ACTION
                                        ul
                                          each fn in datatoview
                                           case fn.projname
                                            when "SUPERSCREEN"
                                              case fn.funcgroup
                                                when "ACTION"
                                                  li(id='ActionMenu_'+fn.funcname)
                                                  a(id='ActionMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}
                                      li.has-sub
                                        a(href='#')
                                          span VERIFY
                                        ul
                                          each fn in datatoview
                                           case fn.projname
                                            when "SUPERSCREEN"
                                              case fn.funcgroup
                                                when "VERIFY"
                                                  li(id='VerifyMenu_'+fn.funcname)
                                                  a(id='VerifyMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}          
                                  
                                      li.has-sub
                                        a(href='#')
                                          span UTILITY
                                        ul
                                          each fn in datatoview
                                           case fn.projname
                                            when "SUPERSCREEN"
                                              case fn.funcgroup
                                                when "UTILITY"
                                                  li(id='UtilityMenu_'+fn.funcname)
                                                  a(id='UtilityMenuLink_'+fn.funcname)(href='/FnView/#{fn.funcname}') #{fn.funcname}
                                  
                              li
                                a(href='#')
                                  span About
                              li.last
                                a(href='#')
                                  span Contact
              // Row #2.2 .... Body
              table(border='0', align='center', width='970')                
                tr
                  // <td width="800"><img src="Image/superwifi_th.jpg" width="800" height="380"></td>
                  td
                    // Slide Show INDEX
                    .container
                      .sp-slideshow
                        input#button-1.sp-selector-1(type='radio', name='radio-set', checked='checked')
                        label.button-label-1(for='button-1')
                        input#button-2.sp-selector-2(type='radio', name='radio-set')
                        label.button-label-2(for='button-2')
                        input#button-3.sp-selector-3(type='radio', name='radio-set')
                        label.button-label-3(for='button-3')
                        input#button-4.sp-selector-4(type='radio', name='radio-set')
                        label.button-label-4(for='button-4')
                        input#button-5.sp-selector-5(type='radio', name='radio-set')
                        label.button-label-5(for='button-5')
                        label.sp-arrow.sp-a1(for='button-1')
                        label.sp-arrow.sp-a2(for='button-2')
                        label.sp-arrow.sp-a3(for='button-3')
                        label.sp-arrow.sp-a4(for='button-4')
                        label.sp-arrow.sp-a5(for='button-5')
                        .sp-content
                          .sp-parallax-bg
                          ul.sp-slider.clearfix
                            li
                              img(src='images/superwifi_th.jpg', alt='image01')
                            li
                              img(src='images/Line-AIS-BlackBerry.jpeg', alt='image02')
                            li
                              img(src='images/12Call-Mhao9Bht.jpg', alt='image03')
                            li
                              img(src='images/ais.jpg', alt='image04')
                            li
                              img(src='images/AIS-LAVA.png', alt='image05')
                        // sp-content
                      // sp-slideshow
        // footer
        tr
          td(colspan='2')
            center
              img(src='images/footer.jpg', width='1010', height='100')
